<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Proiect_C_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Proiect_C_.Properties.Settings.DbConnection" connectionString="Server=localhost\SQLEXPRESS;Database=bookify;Trusted_Connection=True;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Proiect_C_.Properties.Settings>
            <setting name="SmtpAddress" serializeAs="String">
                <value>smtp.hostinger.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>ToFhmvuiSDY+5htHFCoqWldR2Q7x25ZTtQxHKF3GjfIvRp0t2dmvYxTUXrwQnxmA</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>DL6wsuOhCYRswEEVDz3KPA==</value>
            </setting>
            <setting name="Salt" serializeAs="String">
                <value>AA2KYt8Izaw)PsH7jFssI7C.!FupQskv(+MuYdxFTmFMY)ZYhB+bWIfuFfr5xY9951/mXpxN#Rav7jnlZQD2rYxT05t3LSVhySKd1pYOM0hA57*furxV5v?BLIDFGFm5</value>
            </setting>
        </Proiect_C_.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>